<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS</title>
  <link rel="stylesheet" href="./css/index.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- ScrollReveal -->
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

</head>

<body class="has-navbar-fixed-top">

  <section id="navbar">

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">

        <v-icon type="navbar-item nav-icon" url="https://vuejs.org/" icon="fab fa-vuejs"></v-icon>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <v-link type="navbar-item nav-text" url='#skill' title="Competences"></v-link>
          <v-link type="navbar-item nav-text" url='#projects' title="Projets"></v-link>
          <v-link type="navbar-item nav-text" url='#footer' title="Technologies"></v-link>

        </div>
      </div>
      </div>
      </div>
    </nav>
  </section>

  <section id="header">

    <div class="columns is-centered">
      <div class="column has-text-left">
        <div class="scrolljs-left-1">
          <v-span type="header-text-top" title="new"></v-span>
          <v-span type="header-text-color-top" title="Design"></v-span>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <div class="scrolljs-left-2">
          <v-span type="header-text-middle" title="new"></v-span>
          <v-span type="header-text-color-middle" title="Framework"></v-span>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-right">
        <div class="scrolljs-left-3">
          <v-span type="header-text-end" title="new"></v-span>
          <v-span type="header-text-color-end" title="Vue ( )"></v-span>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-left">
        <div class="scrolljs-left-2">
          <v-btn title="version deja Vue" url="./assets/projets/jchabert0.github.io/index.html" type="header-btn">
          </v-btn>
        </div>
      </div>
    </div>

  </section>

  <section id="main">

    <section class="hero main-hero">
      <div class="hero-body">
        <div class="columns is-centered is-vcentered">
          <div class="column">
            <div class="scrolljs-bottom-1">
              <h1 class="title">
                {{name}}
              </h1>
              <h2 class="subtitle">
                {{job}}
              </h2>
              <v-icon type="main-icon" url="https://www.linkedin.com/in/jeremie-chabert/" icon="fab fa-linkedin">
              </v-icon>
              <v-icon type="main-icon" url="https://gitlab.com/users/jeremieSIMPLON6/projects" icon="fab fa-gitlab">
              </v-icon>
              <v-icon type="main-icon" url="https://github.com/jchabert0/jchabert0.github.io" icon="fab fa-github">
              </v-icon>
            </div>
          </div>

          <div class="column">
            <div class="scrolljs-bottom-1">
              <v-btn title="Telecharger mon CV" url="./assets/pdf/CV_Jeremie_CHABERT.pdf" type="main-btn"></v-btn>
            </div>
          </div>
          <div class="column">
            <div class="scrolljs-bottom-1">
              <img v-bind:src="photo" class="main-photo">
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </section>

  <section id="skill">

    <div class="container">
      <div class="columns is-centered">
        <div v-for="card in cards" v-bind:key="card.id">
          <div class="column">
            <div class="scrolljs-top-1">
              <div class="card skill-card">
                <div class="card-content skill-card-content">
                  <ul>
                    <li v-for="item in card.list">
                      <p class="title skill-card-title">
                        {{ item.text }}
                      </p>
                    </li>
                  </ul>
                  <p class="card-subtitle skill-card-subtitle">
                    {{ card.title }}
                  </p>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div v-for="link in links" v-bind:href="link.url" v-bind:class="link.class" target="_blank">
            <div class="scrolljs-top-1">
              <article class="message projects-message">
                <div class="message-body projects-message-body">
                  <p class="projects-message-body-title"><strong> {{link.title}} </strong></p>
                  <p class="projects-message-body-text"> {{link.text}} </p>
                  <v-btn title="GO" :href="link.url" type="projects-btn"></v-btn>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="columns">
          <div class="column">
            <div class="scrolljs-bottom-1">
              <v-span type="footer-text" title="Design & développement by"></v-span>
              <v-span type="footer-name" title="Jeremie Chabert"></v-span>

              <div class="footer-technos">
                <v-icon type="nav-item footer-logo" url="https://vuejs.org/" icon="fab fa-vuejs"></v-icon>
                <v-icon type="nav-item footer-logo" url="https://git-scm.com/" icon="fab fa-git"></v-icon>
                <v-icon type="nav-item footer-logo" url="https://sass-lang.com/" icon="fab fab fa-sass"></v-icon>
                <v-icon type="nav-item footer-logo" url="https://bulma.io/" title="bulma"></v-icon>
              </div>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </section>



  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./js/components/v-span.js"></script>
  <script src="./js/components/v-btn.js"></script>
  <script src="./js/components/v-icon.js"></script>
  <script src="./js/components/v-link.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/lib/scroll.js"></script>
</body>

</html>